<div class="jumbotron">
  <h1 class="text-center">
    Bem-vindo ao JComerce
  </h1>
</div>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>

<a ng-href="#/mercadoria" class="btn btn-primary">Nova Mercadoria</a>

<p ng-show="mercadorias.length">
  Mercadorias cadastradas: {{mercadorias.length}}
</p>

<p class="text-info" ng-hide="mercadorias.length">
    Não há mercadorias cadastrados
</p>

<input type="search" placeholder="parte do nome" ng-model="filtro">

<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>NOME</th>
      <th>PRECO</th>
      <th>QUANTIDADE</th>
      <th>TIPO DE MERCADORIA</th>
      <th>TIPO DO NEGOCIO</th>
      <th>EMERGÊNCIA</th>
      <th class="text-center">Ação</th>
    </tr>
  	<tr ng-repeat="mercadoria in mercadorias | filter: filtro">
  		<td>
        <a ng-href="#/contato/{{mercadoria._id}}">{{mercadoria.nome}}</a>
      </td>
  		<td>{{mercadoria.preco}}</td>
      <td>{{mercadoria.qtd}}</td>
      <td>{{mercadoria.TipoMercadoria}}</td>
      <td>{{mercadoria.TipoNegocio}}</td>
      <td>{{mercadoria.emergencia.nome}}</td>
  		<td class="text-center">
  			<button
        ng-click = "remove(mercadoria)"
        class="btn btn-warning">
  				Remover
  			</buttom>
  		</td>
  	</tr>
  </table>
</div>
