<div class="jumbotron">
  <h1 class="text-center">
    Bem-vindo ao JComerc
  </h1>
</div>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>

<a ng-href="#/mercadoria" class="btn btn-primary">Nova Mercadoria</a>

<p ng-show="mercadorias.length">
  Mercadorias cadastradas: {{mercadorias.length}}
</p>

<p class="text-info" ng-hide="mercadorias.length">
    Não há mercadorias cadastradas
</p>

<input type="search" placeholder="pesquisa" ng-model="filtro">
<br></br>

<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>NOME</th>
      <th>PRECO</th>
      <th>QUANTIDADE</th>
      <th>TIPO DE MERCADORIA</th>
      <th>TIPO DO NEGOCIO</th>
      <th class="text-center">Remover</th>
      <th class="text-center">Editar</th>
    </tr>
  	<tr ng-repeat="mercadoria in mercadorias | filter: filtro">
  		<td>
        <p>{{mercadoria.nome}}</p>
      </td>
  		<td>{{mercadoria.preco}}</td>
      <td>{{mercadoria.qtd}}</td>
      <td>{{mercadoria.TipoMercadoria}}</td>
      <td>{{mercadoria.TipoNegocio}}</td>
  		<td class="text-center">
  			<button
        ng-click = "remove(mercadoria)"
        class="btn btn-warning">
  				Remover
  			</buttom>
  		</td>
      <td class ="text-center">
        <a class ="btn btn-warning" ng-href="#/mercadoria/{{mercadoria._id}}">
          Edit
        </a>
      </td>
  	</tr>
  </table>
