<h1 class="text-center">Mercadoria</h1>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>
<form ng-submit="salva()"
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome"
    name="nome" required ng-model="mercadoria.nome">
  </div>

  <div class="form-group">
    <label for="precp">Preco</label>
    <input type="text" class="form-control" id="preco"
    name="preco" required ng-model="mercadoria.preco">
  </div>

  <div class="form-group">
    <label for="qtd">Quantidade</label>
    <input type="text" class="form-control" id="qtd"
    name="qtd" required ng-model="mercadoria.qtd">
  </div>

  <div class="form-group">
    <label for="TipoMercadoria">Tipo de Mercadoria</label>
    <input type="text" class="form-control" id="TipoMercadoria"
    name="TipoMercadoria" required ng-model="mercadoria.TipoMercadoria">
  </div>

  <div class="form-group">
    <label for="TipoNegocio">Tipo de Negocio</label>
    <input type="text" class="form-control" id="TipoNegocio"
    name="TipoNegocio" required ng-model="mercadoria.TipoNegocio">
  </div>

  <div>
    <button type="submit" class="btn btn-primary">
    Salvar
    </button>
    <a href="#/" class="btn btn-default">Voltar</a>
  </div>
  
</form>
