<md-toolbar>
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Bem vindo ao JComerce</h2>
  </div>
</md-toolbar>

<md-content class="full-heigth" layout-padding>
  <md-list>
    <md-list-item class="md-3-line" ng-repeat="mercadoria in mercadorias | filter: filtro">
      <div class="md-list-item-text">
        <h2>{{mercadoria.nome}}</h2>
        <h3>Preço: {{mercadoria.preco}}$</h3>
        <p>Quantidade: {{mercadoria.qtd}}</p>
        <p>Tipo de Mercadoria: {{mercadoria.TipoMercadoria}}</p>
        <p>Tipo de Negócio: {{mercadoria.TipoNegocio}}</p>
        <br></br>
      </div>
      <md-button layout-padding ng-href="#/mercadoria/{{mercadoria._id}}" class="md-raised">Editar</md-button>
      <md-button ng-click = "remove(mercadoria)" class="md-raised md-warn">Remover</md-button>

      <md-divider layout="row" layout-margin class ="divider"></md-divider>
    </md-list-item>
  </md-list>
  <md-button ng-href="#/mercadoria" ng-class="{ visible: selectedTab==0 }"class="md-fab md-fab-bottom-right"  aria-label="upload photo" >
               +
  </md-button>

</md-content>
