<h1>Mercadoria</h1>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>
<form ng-submit="salva()"
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" id="nome"
    name="nome" required ng-model="mercadoria.nome">
  </div>

  <div>
    <label for="prec0">Preço</label>
    <input type="text" id="preco"
    name="preco" required ng-model="mercadoria.preco">
  </div>

  <div>
    <label for="qtd">Quantidade</label>
    <input type="text" id="qtd"
    name="qtd" required ng-model="mercadoria.qtd">
  </div>

  <div >
    <label for="TipoMercadoria">Tipo de Mercadoria</label>
    <input type="text"  id="TipoMercadoria"
    name="TipoMercadoria" required ng-model="mercadoria.TipoMercadoria">
  </div>

  <div >
    <label for="TipoNegocio">Tipo de Negocio</label>
    <select  name="TipoNegocio" ng-model="mercadoria.TipoNegocio">
      <option value="Compra">Compra</option>
      <option value="Venda">Venda</option>
  </select>
  </div>


    <button type="submit">
    Salvar
    </button>
    <a href="#/">Voltar</a>
  </div>

</form>
